.custom-btn-close {
  background-color: red; /* Trasparente per il fondo */
  opacity: 0.8;
}

.custom-btn-close:hover {
  background-color: red; /* Colore di sfondo al passaggio del mouse */
  opacity: 1;
}

#music {
  width: 300px !important;
  overflow: auto;
}

textarea {
  resize: none;
}
#music > option {
  font-size: large;
  color: white !important;
}
.info-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050; /* Assicurati che il bottone sia sopra altri elementi */
}